@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Hanalei+Fill&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


:root {
    --primary-color: #dff3e3;
    --secondary-color: #4e8d7c;
    --tertiary-color: #86aba1;
    }


body {
    text-align: center;
    /* font-family: 'Hanalei Fill', cursive; */
    /* font-family: 'Bungee Outline', cursive; */
    font-family: 'Russo One', sans-serif;
    color: var(--tertiary-color);
    background-color: var(--primary-color);
    font-size: 30px;
}

/* h1 {
    margin: auto;

} */

.gui,.cli, .react{
    border: 2px solid var(--secondary-color);
    width: fit-content;
    margin: 1rem auto;
    padding: 2rem;
    font-size: 30px;
    display: inline-block;
    box-shadow: 5px 5px var(--tertiary-color);
}

 img {
    height: 20%;
    width: 20%;
    min-width: 200px;
    min-height: 200px;
}

a {
    text-decoration:none;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    margin: 1rem auto;
    padding: 1rem;
    display: block;
    width: fit-content;
    border-radius: 10px;
    font-size: 20px;
}

button {
    display: block;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 25px;
}

footer {
    margin: 1rem auto;
    font-size: 20px;
}

.footer-link {
    text-decoration:none;
    color: var(--secondary-color);
    /* border: 1px solid var(--secondary-color); */
    /* margin:  auto; */
    
    border: none;
    display: inline-block;
}

.footer-link:hover {
    text-decoration: underline;
}

input {
    padding: 1rem;
    margin: 1rem auto;
    color: var(--secondary-color);
    background: transparent;
}

@media(max-width:320px) {
    h1,h2{
        font-size: 20px;
    }

    
}



